@media (max-width: 960px) {
  #logo {
    margin-left: 30px; } }
@media (max-width: 768px) {
  #logo {
    float: none;
    margin: 30px;
    padding: 0; } }

@media (max-width: 768px) {
  #navigation_bar {
    width: 100%;
    padding: 0; } }

@media (max-width: 768px) {
  .nivo-caption {
    z-index: -10; } }
@media (max-width: 480px) {
  .nivo-caption {
    z-index: -10; } }

@media (max-width: 768px) {
  .banner {
    padding: 30px 20px;
    width: inherit; } }

@media (max-width: 768px) {
  .content.fullwidth {
    padding: 0 20px;
    width: inherit; } }

@media (max-width: 768px) {
  .box .padding-div {
    margin: 20px 10px 1px; } }

@media (max-width: 480px) {
  .box {
    margin: 0; } }

@media (max-width: 480px) {
  .box.three {
    width: 100%; } }

@media (max-width: 768px) {
  .footer > .padding-div {
    margin-left: 20px;
    margin-right: 0; } }

@media (max-width: 480px) {
  .footer.box.three {
    width: 100%; } }

@media (max-width: 480px) {
  .footer.box.two-three {
    width: inherit; } }
