.show-on-baby {
  visibility: hidden; }
  @media (max-width: 480px) {
    .show-on-baby {
      visibility: visible; } }

@media (max-width: 480px) {
  .content.hide-on-baby, .hide-on-baby {
    display: none; } }

@media (max-width: 960px) {
  #logo {
    margin-left: 30px; } }
@media (max-width: 768px) {
  #logo {
    float: none;
    margin: 30px;
    padding: 0; } }

@media (max-width: 768px) {
  #navigation_bar {
    width: 100%;
    padding: 0; } }

@media (max-width: 480px) {
  #navigation_bar > ul > li > a {
    font-size: 1.43em;
    margin-bottom: 16px; } }

@media (max-width: 768px) {
  .nivo-caption {
    z-index: -10; } }
@media (max-width: 480px) {
  .nivo-caption {
    z-index: -10; } }

@media (max-width: 768px) {
  .banner {
    padding: 30px 20px;
    width: inherit; } }
@media (max-width: 480px) {
  .banner {
    display: none; } }

@media (max-width: 480px) {
  .banner-lines {
    display: none; } }

@media (max-width: 768px) {
  .content.fullwidth {
    padding: 0 20px;
    width: inherit; } }

@media (max-width: 768px) {
  .box .padding-div {
    margin: 20px 10px 1px; } }

@media (max-width: 480px) {
  .box {
    margin: 0 0 10px 0; } }

@media (max-width: 480px) {
  .box.three {
    width: 100%; } }
@media (max-width: 768px) {
  .box.three {
    width: 100%;
    margin-bottom: 1.3em; } }

@media (max-width: 768px) {
  .box.two-three {
    width: 100%; } }
@media (max-width: 480px) {
  .box.two-three {
    width: 100%; } }

@media (max-width: 480px) {
  .box.baby-not {
    width: 100%; } }

/****************** FOOTER ********************/
@media (max-width: 768px) {
  .footer > .padding-div {
    margin-left: 20px;
    margin-right: 0; } }

@media (max-width: 480px) {
  .footer.box.three {
    width: 100%; } }

@media (max-width: 480px) {
  .footer.box.two-three {
    width: inherit; } }

@media (max-width: 480px) {
  .social_media {
    clear: both;
    text-align: center;
    width: 100%; } }

@media (max-width: 480px) {
  #footer ul.social_media_icons {
    display: inline-block;
    float: none;
    margin-top: 1em; } }

/****************** Contact Form ********************/
@media (max-width: 480px) {
  .box.contacto {
    width: 100%; } }

@media (max-width: 480px) {
  .box.contacto-info {
    width: 100%; } }

@media (max-width: 480px) {
  .g-maps iframe {
    height: 290px; } }

/****************** Contact Form ********************/
@media (max-width: 480px) {
  .product .block {
    width: 95%; } }

@media (max-width: 480px) {
  .frame .imagemask {
    width: 100%; } }
